{
	"ignorePatterns": [
		"dist"
	],
	"root": true,
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:import/recommended",
		"plugin:import/typescript"
	],
	"plugins": [
		"@typescript-eslint",
		"import",
		"eslint-plugin-tsdoc"
	],
	"parserOptions": {
		"project": "tsconfig.json", //OVERRIDE
		"parser": "@typescript-eslint/parser"
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [
				".ts",
				".tsx"
			]
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true, //always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
				"project": "tsconfig.json" //OVERRIDE
			}
		}
	},
	"rules": {
		"tsdoc/syntax": "warn",
		"import/newline-after-import": [
			"error",
			{
				"count": 1,
				"exactCount": true,
				"considerComments": true
			}
		],
		"@typescript-eslint/no-explicit-any": "error",
		"@typescript-eslint/semi": "error",
		"@typescript-eslint/member-delimiter-style": [
			"error",
			{
				"multiline": {
					"delimiter": "semi",
					"requireLast": true
				},
				"singleline": {
					"delimiter": "semi",
					"requireLast": true
				}
			}
		],
		"quote-props": [
			"error",
			"consistent-as-needed"
		],
		"semi": "error",
		"no-extra-semi": "error",
		"quotes": [
			"error",
			"double"
		],
		"arrow-parens": [
			"error",
			"as-needed"
		],
		"newline-per-chained-call": "off",
		"array-element-newline": "off",
		"function-paren-newline": [
			"error",
			"consistent"
		],
		"object-property-newline": "off",
		"comma-dangle": [
			"error",
			"never"
		],
		"nonblock-statement-body-position": [
			"error",
			"below"
		],
		"eqeqeq": "error",
		"max-len": [
			"error",
			{
				"code": 120,
				"tabWidth": 4,
				"ignoreComments": true,
				"ignoreTrailingComments": true,
				"ignoreUrls": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true,
				"ignoreRegExpLiterals": true
			}
		],
		"no-trailing-spaces": "error"
	}
}